.container {
  width: 500px;
  height: 200px;
  border: 1px solid blue;
}
h3 {
  text-align: center;
  color: white;
  background-color: rgb(248, 104, 8);
  margin: 0px;
}
.label1-color {
  color: blue;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8%;
}

.label2-color {
  color: blue;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 13%;
}

.label3-color {
  color: blue;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
}

.input1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input2 {
  margin-bottom: 10px;
  width: 30%;
}

.checkbox-color {
  color: orange;
}

.pos-checkbox {
  margin-left: 12px;
}

.pos1-checkbox {
  margin-left: 4%;
}

.pos-checkbox1 {
  margin-left: 24%;
}

.pos-checkbox2 {
  margin-left: 24%;
}
.sub {
  margin-left: 20%;
  margin-top: 10px;
}
